---
import type { Book } from '../../types/books.types';
import { Icon } from 'astro-icon/components';
import { Image } from "astro:assets";
import { getFormattedDate } from '../../utils/utils';
import PostTags from '../common/Tags.astro';
import { getPermalink } from '../../utils/permalinks';
import { findImage } from '../../utils/images.ts';

import DSC08678 from "../../assets/DSC08678.jpg"

export interface Props {
  prefix: string;
  book: Book;
}

const { prefix, book } = Astro.props;
const image = (await findImage(book.image)) as ImageMetadata | undefined;
const link = getPermalink(book.permalink, 'book');

---

<article>
    <div class="container-component flex w-3/4 mx-auto space-x-8 items-center">
        <Image class="post-image-component rounded-lg w-40 h-40" src={DSC08678} alt="article feature image"/>
        <div>
            <header>
                <span class="text-sm">
                    <Icon name="tabler:clock" class="w-3.5 h-3.5 inline-block -mt-0.5 dark:text-gray-400" />
                    <time datetime={String(book.publishDate)} class="inline-block">{getFormattedDate(book.publishDate)}</time>
                </span>

                <h2 class="post-title-component text-xl sm:text-2xl font-bold leading-tight mb-2 font-heading dark:text-slate-300 line-clamp-2">
                    <a class="hover:text-C2a9d8f dark:hover:text-blue-700 transition ease-in duration-200" href={`/${prefix}${link}`}>
                        {book.title}
                    </a>
                </h2>
            </header>
            
            {book.excerpt && <p class="post-excerpt-component flex-grow text-muted dark:text-slate-400 text-base line-clamp-3">
                <a class="post-excerpt-component" href={`/${prefix}${link}`}>
                    {book.excerpt}
                </a>
            </p>}

            <footer class="mt-5">
                <PostTags tags={book.categories} />
            </footer>
        </div>
    </div>
</article>