---
import type { Post } from '../../types/post.types';
import PostTags from '../common/Tags.astro';
import { getFormattedDate } from '../../utils/utils';
import { getPermalink } from '../../utils/permalinks';

export interface Props {
  prefix: string;
  post: Post;
  isLast: boolean;
}

const { prefix, post, isLast } = Astro.props;
const link = getPermalink(post.permalink, 'post');
---

<style>
    .post-excerpt-component:hover ~ .post-title-component,
    .post-excerpt-component:hover ~ .post-title-component {
        color: red; /* Change the text color of Text Component 1 when hovering over Text Component 2 or Text Component 3 */
    }
</style>

<article class="w-full mb-2 bg-white">
    <div class="flex items-center mb-2 text-gray-500 space-x-4">
        <time datetime={String(post.publishDate)} class="text-sm">{getFormattedDate(post.publishDate)}</time>
        <div class="flex items-center">
            <PostTags tags={post.tags} />
        </div>
    </div>
    
    <h2 class="post-title-component text-xl sm:text-2xl font-bold leading-tight mb-2 font-heading dark:text-slate-300 line-clamp-3">
        <a class="hover:text-C2a9d8f dark:hover:text-blue-700 transition ease-in duration-200" href={`/${prefix}${link}`}>
            {post.title}
        </a>
    </h2>

    <p class="mb-5 font-light text-gray-500 dark:text-gray-400">
        <a class=" dark:hover:text-blue-700 transition ease-in duration-200" href={`/${prefix}${link}`}>
            {post.excerpt}
        </a>
    </p>

    {!isLast && (
        <div class="">
            <div class="border-b border-gray-200 dark:border-gray-700"></div>
        </div>
    )}

</article>