---
import type { Post } from '../../types/post.types';
import PostTags from '../common/Tags.astro';
import { getFormattedDate } from '../../utils/utils';
import { getPermalink } from '../../utils/permalinks';

export interface Props {
  prefix: string;
  post: Post;
}

const { prefix, post } = Astro.props;
const link = getPermalink(post.permalink, 'post');
---

<style>
    .post-excerpt-component:hover ~ .post-title-component,
    .post-excerpt-component:hover ~ .post-title-component {
        color: red; /* Change the text color of Text Component 1 when hovering over Text Component 2 or Text Component 3 */
    }
</style>

<article class="p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 flex flex-col">
    <div class="flex justify-between items-center mb-5 text-gray-500">
        <PostTags tags={post.tags} />
        <time datetime={String(post.publishDate)} class="text-sm">{getFormattedDate(post.publishDate)}</time>
    </div>
    
    <h2 class="post-title-component text-xl sm:text-2xl font-bold leading-tight mb-2 font-heading dark:text-slate-300 line-clamp-3">
        <a class="hover:text-C2a9d8f dark:hover:text-blue-700 transition ease-in duration-200" href={`/${prefix}${link}`}>
            {post.title}
        </a>
    </h2>

    <p class="mb-5 font-light text-gray-500 dark:text-gray-400">{post.excerpt}</p>

    <!-- Vertical Spacer to push the 'Read more' link to the bottom -->
    <div class="flex-grow"></div>

    <div class="flex justify-between items-center">
        <div class="flex-grow"></div>

        <a href={`/${prefix}${link}`} class="inline-flex items-center font-medium text-primary-600 dark:text-primary-500 hover:underline text-C2a9d8f">
            Read more
            <svg class="ml-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </a>
    </div>
</article>