---
import type { Post } from '../../types';
import { Icon } from 'astro-icon/components';
import { Image } from "astro:assets";
import PostTags from './Tags.astro';
import { getFormattedDate } from '../../utils/utils';
import { getPermalink } from '../../utils/permalinks';

import DSC08678 from "../../assets/DSC08678.jpg"

export interface Props {
  post: Post;
}

const { post } = Astro.props;

const link = getPermalink(post.permalink, 'post');
---

<article>
    <div class="flex w-3/4 mx-auto space-x-8 items-center">
        <Image class="rounded-lg w-40 h-40" src={DSC08678} alt="article feature image"/>
        <div>
            <header>
                <span class="text-sm">
                    <Icon name="tabler:clock" class="w-3.5 h-3.5 inline-block -mt-0.5 dark:text-gray-400" />
                    <time datetime={String(post.publishDate)} class="inline-block">{getFormattedDate(post.publishDate)}</time>
                </span>

                <h2 class="text-xl sm:text-2xl font-bold leading-tight mb-2 font-heading dark:text-slate-300 line-clamp-2">
                    <a class="hover:text-primary dark:hover:text-blue-700 transition ease-in duration-200" href={link}>
                        {post.title}
                    </a>
                </h2>
            </header>

            {post.excerpt && <p class="flex-grow text-muted dark:text-slate-400 text-base line-clamp-3">{post.excerpt}</p>}

            <footer class="mt-5">
                <PostTags tags={post.tags} />
            </footer>
        </div>
    </div>
</article>